  /* navbar starts here*/
  .navbar
{
  background: crimson;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  
}
.navdiv
{
   height: 100px; display: flex;align-items:center;justify-content: space-between;margin-inline-end:auto ;margin-top: 0px;
   border-radius: 5px solid white;
}
.logo a{
    font-size: 35px;color: white;font-weight: 600;margin: 10px;
}
#n1
{
    display: inline-block;
    list-style: none;
}
li a{
    font-size: 20px;color: white;margin-right: 25px;font-weight: bold;
}
button{
    background-color: black;margin-left: 10px;border-radius: 10px;margin-right: 10px;
}
button a{
    color: white;font-size: 15px;
}
/*navbar ends here*/
body
{
    background-color: rgb(234, 206, 233);
}
.container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.half1 {
    width: 35%; 
    background-color: #800080; 
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.half2 {
    width: 60%; 
    height: 525px;
    background-color: #ffd700; 
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
}
ul li
{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}
#h2
{
    font-size: 25px;
    font-weight: bold;
    color: #800080;
}


#re
{
    display: flex;
    list-style-type: none;
}
#i1
{
    width: 200px;
    height: 200px;
    margin: 20px;
    margin-left: 140px;
    border-radius: 50%;
    border: 2px solid black;
}
